name: news_for_invest

on:
  repository_dispatch:
    types: [trigger-bot]
  workflow_dispatch:

jobs:
  run-scraper:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run script
        env:
          NTFY_TOPIC_env: ${{ secrets.NTFY_TOPIC_ENV }}
          SHEET_NAME_env: ${{ secrets.SHEET_NAME_ENV }}
          SHEET_LINK_env: ${{ secrets.SHEET_LINK_ENV }}
          GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}
          GOOGLE_CREDS_JSON: ${{ secrets.GOOGLE_CREDS_JSON }}
        run: python app.py